<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
					<img src="linkedsample.png" alt="footer logo" style="width:100px;height:100px;">
	        		<li><a href="mailto:skzahidbasha@gmail.com">Email</a></li>
	        		<li><a href="https://github.com/ZahidBasha">GitHub</a></li>
					<li><a href="www.linkedin.com/in/skzahidbasha">Linked-In</a></li>
				</ul>
			</footer>
		</body>
	</html>
